/* Styles for Checkout pages */
/* ul, ol { margin-left: 2em; } */

ul, ol {
  margin-left: 0em;
  list-style: none;
}

input.blue {
  color: #fff;
  background-color: #0095da;
}

input.red {
  color: #fff;
  background-color: #e41e1e;
}

body#checkout div[role='main-content'] {
  float:left;
}

body#checkout div[role='checkout'] {
  vertical-align:top;
  padding: 0 0 100px 0;
  width: 960px;
}

body#checkout div[role='checkout'] div[role='title'] {
  margin: 40px 0 20px 0;
  letter-spacing:2px;
  color: #d4d4d4;
  font: 40px Georgia, "Times New Roman", Times, serif;

}

body#checkout div[role='checkout'] div#tabs {
  font: 18px Georgia, "Times New Roman", Times, serif;
  float: left;
  z-index: 99;
  background-color: #fff;
  width:660px;
}

body#checkout div[role="checkout"] div#tabs ul {
  margin: 0;
  font: 45px "Arial", sans-serif;
}

body#checkout div[role='checkout'] div#tabs li {
  display: inline;
  float: left;
  background-color: #eceded;
  border-top: 5px solid #eceded;
  border-right: 5px solid #eceded;
  border-bottom: 5px solid #b7cbe9;
  border-left: 5px solid #eceded;

  width: 210px;
  height: 60px;

}

body#checkout div[role='checkout'] div#tabs li.active {
  background-color: #fff;
  border-top: 5px solid #b7cbe9;
  border-right: 5px solid #b7cbe9;
  border-left: 5px solid #b7cbe9;
  border-bottom: 5px solid #fff;


}

body#checkout div[role='checkout'] div#tabs li.end {
  border-right: 3px solid #eceded;
}

body#checkout div[role='checkout'] div#tabs li span.number {
  color: #bfbfbf;
  width: 30px;
  font-size: 60px;
  padding: 0 0 0 30px;
  display: inline-block;
}

body#checkout div[role='checkout'] div#tabs li.active span.number {
  color: #324781;
}


body#checkout div[role='checkout'] div#tabs li span.title {
  color: #bfbfbf;
  font-size: 18px;
  width: 90px;
  padding: 0 0 0 10px;
  display: inline-block;
}

body#checkout div[role='checkout'] div#tabs li.active span.title {
  color: #758ed0;
}

body#checkout div[role='content'] {
  border: 5px solid #b7cbe9;
  font-size: 18px;
  color: #A0A0A0;
  width: 448px;
  padding: 100px 100px 50px 100px;

}

body#checkout div[role='content'] p {
  font-size: 18px;
  color: #747474;
}

body#checkout div[role='content'] input.button {
  border: 0px;
  font: 18px Georgia, "Times New Roman", Times, serif;
  padding: 10px 36px;
  text-decoration: none;
  border-radius: 5px;
}

body#checkout div[role='content'] div.submit {
  padding-top: 20px;
  text-align: center;
}

body#checkout div[role='content'] p {
  font-size: 28px;
  padding: 40px 0px;
}

body#checkout div[role='content'] hr {
  margin-top: 50px;
}

body#checkout div[role='content'] ul.fields li {
  padding: 0px 0 10px 0;
  text-align: left;
}

body#checkout div[role='content'] ul.fields input {
  margin-left:10px;
  border: 2px solid #A0A0A0;
  border-radius:2px;
}

body#checkout div[role='aside'] {
  border: 3px solid #eceded;
  width: 250px;
  float: right;
  padding: 10px;
  color: #7f7f7f;
  font-size: 14px;
}

body#checkout div[role='aside'] h3 {
  color: #0095da;
  font: 24px Arvo;
  margin: 10px 5px 10px 15px;
  padding: 0 0 10px 0;
}

body#checkout div[role='aside'] div[role='order'] table td {
  padding-right: 10px;
}

body#checkout div[role='aside'] div[role='order'] table.total {
  margin-top:20px;
  width: 100%;
  text-align: right;
}

body#checkout div[role='aside'] div[role='order'] th {
  font-weight: normal;
}

body#checkout div[role='aside'] div[role='order'] table.items td {
  padding-bottom: 10px;
}

body#checkout div[role='aside'] div[role='order'] table.total td {
  padding-bottom: 5px;
}


body#checkout div[role='aside'] div[role='order'] tr.total th, div[role='aside'] div[role='order'] tr.total td {
  font-weight: bold;
}


body#checkout div[role='aside'] div[role='order'] tr td.qty {
  width: 36px;
}

body#checkout div[role='aside'] div[role='order'] tr td.description {
  width: 160px;
}


body#checkout div[role='aside'] div[role='order'] tr td.price {
  width: 36px;
}


/* End Styles for Checkout page */

