/* @override http://localhost:3000/stylesheets/screen.css?1295453328 */

/*
Primary Styles
Author: John Dilts
 */
body {background: #fff;}
body#homepage {background: #fff url('/images/dogradio/homepage_header_bg.png') repeat-x;}
header nav, footer div#secondary, div#container {width: 1080px; margin: 0 auto;}
header, footer {background-color: #000;}
header nav *, footer div#secondary * {display: inline-block;}
header {
  position: relative;
  height: 58px;
  margin: 0 auto;
}
header form {
  position: absolute;
  left: 340px;
  top: 20px;
}
header #logo {
  position: absolute;
  left:  0; top: 11px;
}
header nav {
  position: absolute;
  right: 0;
  top: 27px;
  text-align: right;
}

header a, div[role='banner-nav'] ul li a {
  text-transform: uppercase;
  text-decoration: none;
}
header nav form {width: 30%; text-align: center;}
header nav form input[type='search'] {
  width: 50%;
  vertical-align: middle;
}
header nav a, header nav a:active, header nav a:visited, header nav a:hover {
  margin: 0 12px 0 0;
  text-align: right;
  font: normal normal normal 1.1em/1.6em serif;
  color: #fff;
}

#homepage #banner {
  border: 1px solid #0f0;
  height: 340px;
  background: url(../images/dogradio/homepage/homepage-banner-bg.jpg) no-repeat;
}

header nav a.cart {color: #B30000;}

footer {background: #DDD url('/images/dogradio/footer_bkgd.jpg') repeat-x 0 0; margin: 55px 0 0; clear: both;}
footer div#secondary div img {position:relative; top: -51px;}
footer div#secondary div {display: inline-block;}
footer div#static {}


div[role='banner'] section {vertical-align: top;}
div[role='banner'] img {display:inline; vertical-align: top; float: left;}
div[role='banner'] div {display: inline;}
div[role="banner"] div.image {margin: 0;}
div[role="banner"] div.button {margin: 0;}

div[role='banner-nav'] {
  width: 100%;
  background-color: #8C1717;
}
div[role='banner-nav'] ul {width:100%;}
div[role='banner-nav'] ul li {
  width: 20%;
  list-style: none;
  display: inline-block;
  text-align: center;
}
div[role='banner-nav'] ul li.first, div[role='banner-nav'] ul li.last {width: 6%;}
div[role='banner-nav'] ul li a {
  font: normal normal bold 1.2em/2.2em Arial, sans-serif;
  text-shadow: rgb(255,255,255) 1px 1px 2px;
  color: #3E0303;
}
div[role='banner-nav'] a:hover {color: #fff;}

div[role='main'] {
  padding: 1em;
}

div[role='main'] div.product {
  width: 33%;
  display: inline-block;
  text-align: center;
  margin: 0;
}
div.product h3 a{
  font: normal normal bold 1.2em/3em Arial, sans-serif;
  color: #324781;
  text-decoration: none;
}
div.product img.image, div.product img.button {
  vertical-align: middle;
  margin: 6% auto 10%;
}
div[role='main'] div.col {border-right: solid 1px #ccc;}
div[role='main'] div.row {border-bottom: solid 1px #ccc;}

div[role='all-products'] {width: 50%; display: inline-block;}
div[role='all-products'] h2, div[role='contact'] h2 {
  color: #324781;
  text-transform: uppercase;
  border-bottom: solid 1px #616161;
  font: normal normal bold 1.2em/2.6em Arial, sans-serif;
}
div[role='all-products'] div.left,
div[role='all-products'] div.right {
  color: #616161;
  width: 45%;
  text-transform: uppercase;
  font: normal normal bold 1em/2.2em Arial, sans-serif;
  display: inline-block;
}
div[role='all-products'] div a {text-decoration: none;}
div[role='all-products'] ul li {list-style: none;}
div[role='all-products'], div[role='contact'] {margin: 22px 0 0;}

div[role='contact'] {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
div[role='contact'] div {
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  width: 45%;
  padding: 4px;
  background-color: #F8F8F8;
  border-radius: 15px;
  -moz-border-radius: 15px;
}

div[role='contact'] h2.phone {
  border: none;
  color: #616161;
}


