<div id="all-products">
  <h2>All Products</h2>
  <ul>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
    <li><a href="#">Holiday Sale Items</a></li>
  </ul>
</div>
