<% @body_id = 'product-list' %>

<% content_for :banner do %>
  <h1>Products</h1>
<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/all_products' %>
<% end %>





<% if params[:keywords] %>

  <% if @products.empty? %>
    <%= t(:no_products_found) %>
  <% else %>
    <%= render "shared/products", :products => @products, :taxon => @taxon %>
  <% end %>

<% else %>

  <%= render "shared/products", :products => @products, :taxon => @taxon %>

<% end %>

